.title1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.012em;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.015em;
}

.title3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.016em;
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: -0.026em;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.026em;
}

.callout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.025em;
}

.subhead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.024em;
}

.footnote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.016em;
}

.caption1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.011em;
}

.caption2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.006em;
}
