.title1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.013em;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.016em;
}

.title3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.019em;
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: -0.024em;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.024em;
}

.callout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
}

.subhead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.016em;
}

.footnote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.006em;
}

.caption1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a0a0a0;
    line-height: 16px;
    letter-spacing: 0;
}

.caption2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.006em;
}